{% extends "base.html" %}

{% block content %}
<table class="table table-striped w-auto" style=" margin:20 auto;" align="left">

  <!--Table head-->
  <thead>
  	 <tr>
      <th>YEAR: Reporting Period</th>
    </tr>
    <tr>
      <th>Value</th>
      <th>Label</th>
      <th>Frequency</th>
      <th>%</th>
    </tr>
  </thead>
  <!--Table body-->
  <tbody>
    <tr class="table-info">
      <th scope="row">2018</th>
      <td>2018</td>
      <td>6,213,791</td>
      <td>100</td>
    </tr>
  </tbody>
  <thead>
  	 <tr>
      <th>AGE: Age (recorded)</th>
    </tr>
    <tr>
      <th>Value</th>
      <th>Label</th>
      <th>Frequency</th>
      <th>%</th>
    </tr>
  </thead>
  <!--Table body-->
  <tbody>
    <tr class="table-info">
      <th scope="row">1</th>
      <td>0-11 years</td>
      <td>892,484</td>
      <td>14.4%</td>
    </tr>
    <tr class="table-info">
      <th scope="row">2</th>
      <td>12-14 years</td>
      <td>438,967</td>
      <td>7.1%</td>
    </tr>
        <tr class="table-info">
      <th scope="row">1</th>
      <td>0-11 years</td>
      <td>892,484</td>
      <td>14.4%</td>
    </tr>
    <tr class="table-info">
      <th scope="row">2</th>
      <td>12-14 years</td>
      <td>438,967</td>
      <td>7.1%</td>
    </tr>
        <tr class="table-info">
      <th scope="row">1</th>
      <td>0-11 years</td>
      <td>892,484</td>
      <td>14.4%</td>
    </tr>
    <tr class="table-info">
      <th scope="row">2</th>
      <td>12-14 years</td>
      <td>438,967</td>
      <td>7.1%</td>
    </tr>
        <tr class="table-info">
      <th scope="row">1</th>
      <td>0-11 years</td>
      <td>892,484</td>
      <td>14.4%</td>
    </tr>
    <tr class="table-info">
      <th scope="row">2</th>
      <td>12-14 years</td>
      <td>438,967</td>
      <td>7.1%</td>
    </tr>
        <tr class="table-info">
      <th scope="row">1</th>
      <td>0-11 years</td>
      <td>892,484</td>
      <td>14.4%</td>
    </tr>
    <tr class="table-info">
      <th scope="row">2</th>
      <td>12-14 years</td>
      <td>438,967</td>
      <td>7.1%</td>
    </tr>

  </tbody>
  <!--Table body-->


</table>
{% endblock %}