{% extends "base.html" %}

{% block content %}
<table class="table table-striped w-auto" style=" margin:20 auto;" align="left">

  <!--Table head-->
  <thead>
  	 <tr>
      <th>YEAR: Reporting Period</th>
    </tr>
    <tr>
      <th>Value</th>
      <th>Label</th>
      <th>Frequency</th>
      <th>%</th>
    </tr>
  </thead>
  <!--Table body-->
  <tbody>
    <tr class="table-info">
      <th scope="row">2018</th>
      <td>2018</td>
      <td>6,213,791</td>
      <td>100</td>
    </tr>
  </tbody>
  <thead>
  	 <tr>
      <th>AGE: Age (recorded)</th>
    </tr>
    <tr>
      <th>Value</th>
      <th>Label</th>
      <th>Frequency</th>
      <th>%</th>
    </tr>
  </thead>
  <!--Table body-->
  <tbody>
    <tr class="table-info">
      <th scope="row">1</th>
      <td>0-11 years</td>
      <td>892,484</td>
      <td>14.4%</td>
    </tr>
    <tr class="table-info">
      <th scope="row">2</th>
      <td>12-14 years</td>
      <td>438,967</td>
      <td>7.1%</td>
    </tr>
        <tr class="table-info">
      <th scope="row">3</th>
      <td>0-11 years</td>
      <td>892,484</td>
      <td>14.4%</td>
    </tr>
    <tr class="table-info">
      <th scope="row">4</th>
      <td>12-14 years</td>
      <td>438,967</td>
      <td>7.1%</td>
    </tr>
        <tr class="table-info">
      <th scope="row">5</th>
      <td>15-17 years</td>
      <td>469,162</td>
      <td>7.6%</td>
    </tr>
    <tr class="table-info">
      <th scope="row">6</th>
      <td>18–20 years</td>
      <td>288,195</td>
      <td>4.6%</td>
    </tr>
        <tr class="table-info">
      <th scope="row">7</th>
      <td>21–24 years</td>
      <td>357,257</td>
      <td>5.7%</td>
    </tr>
    <tr class="table-info">
      <th scope="row">8</th>
      <td>25–29 years</td>
      <td>557,653 </td>
      <td>9.0%</td>
    </tr>
      <tr class="table-info">
      <th scope="row">9</th>
      <td>30–34 years </td>
      <td>534,107 </td>
      <td>8.6%</td>
    </tr>
        </tr>
      <tr class="table-info">
      <th scope="row">10</th>
      <td>35–39 years </td>
      <td>494,186</td>
      <td>8.0%</td>
    </tr>

        </tr>
      <tr class="table-info">
      <th scope="row">11</th>
      <td>40–44 years </td>
      <td>400,992</td>
      <td>6.5%</td>
    </tr>

        </tr>
      <tr class="table-info">
      <th scope="row">12</th>
      <td>45–49 years </td>
      <td>414,109 </td>
      <td>6.7%</td>
    </tr>

           </tr>
      <tr class="table-info">
      <th scope="row">13</th>
      <td>50–54 years </td>
      <td>414,109 </td>
      <td>6.7%</td>
    </tr>

           </tr>
      <tr class="table-info">
      <th scope="row">14</th>
      <td>55–59 years </td>
      <td>402,710 </td>
      <td>6.5%</td>
    </tr>
               </tr>
      <tr class="table-info">
      <th scope="row">15</th>
      <td>55–59 years </td>
      <td>402,710 </td>
      <td>6.5%</td>
    </tr>

               </tr>
      <tr class="table-info">
      <th scope="row">16</th>
      <td>60–64 years</td>
      <td>273,170 </td>
      <td>4.4%</td>
    </tr>

                   </tr>
      <tr class="table-info">
      <th scope="row">17</th>
      <td>65 years and older </td>
      <td>256,693 </td>
      <td>4.1%</td>
    </tr>
  </tbody>
  <!--Table body-->
  <thead>
     <tr>
      <th>EDUC: Education</th>
    </tr>
    <tr>
      <th>Value</th>
      <th>Label</th>
      <th>Frequency</th>
      <th>%</th>
    </tr>
  </thead>
  <tbody>
    
                   </tr>
      <tr class="table-info">
      <th scope="row">1</th>
      <td>Special Education </td>
      <td>32,044 </td>
      <td>0.5%</td>
    </tr>

                       </tr>
      <tr class="table-info">
      <th scope="row">2</th>
      <td>0 to 8 </td>
      <td>753,205 </td>
      <td>12.1%</td>
    </tr>
  </tbody>

</table>
{% endblock %}